{% comment %} Fake visitors / activity notice (optional use) {% endcomment %}
<div class="ug-fake-visitors" data-ug-fake-visitors aria-hidden="true">
  <span class="ug-fake-visitors__text">{{ 'products.visitors' | t | default: 'X people viewing this' }}</span>
</div>
