<div id="ug-quick-view" class="ug-quick-view" aria-hidden="true" hidden role="dialog" aria-modal="true" aria-label="Quick view">
  <div class="ug-quick-view__overlay" data-close-quick-view></div>
  <div class="ug-quick-view__panel">
    <button type="button" class="ug-quick-view__close" data-close-quick-view aria-label="{{ 'accessibility.close' | t }}">{% render 'ug-icon-close' %}</button>
    <div class="ug-quick-view__content" data-quick-view-content>
      <p>{{ 'products.product.loading' | t }}</p>
    </div>
  </div>
</div>
